@keyframes flow {
  to {
    stroke-dashoffset: -20;
  }
}

.animate-flow {
  animation: flow 1s linear infinite;
}

.animate-flow-reverse {
  animation: flow 1s linear infinite reverse;
}
